@import './colors.scss';

.App-Dashboard-data-charts-average {
    position: relative;
    &-title {
        position: absolute;
        z-index: 2;
    }
    .recharts-cartesian-axis-tick {
    }
    .recharts-rectangle {
        position: absolute;
        z-index: -4;
    }
    &-error {
        color: $white;
        font-weight: 700;
        font-size: 2em;
    }
}
