@import './colors.scss';

.App-Dashboard-data-dailyActivity {
    &-title {
        color: #20253a;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        top: 10px;
        left: 32px;
    }
    .custom-tooltip {
        position: relative;
        top: -30px;
        right: -10px;
        background-color: #e60000;
        color: $white;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        padding: 10px;
        &-desc {
            padding-top: 10px;
        }
    }
}
