@import './colors.scss';

.App-Dashboard {
    position: absolute;
    top: 105px;
    left: 116px;
    bottom: 0;
    right: 0;
    width: calc(100% - 115px);
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (max-width: 1024px) {
        width: calc(100% - 105px);
        height: calc(100vh - 121px);
        left: 100px;
    }
    &-greeting {
        margin-left: 2px;
        padding: 1.6rem 0px 30px 10%;
        max-height: 230px;
        @media (max-width: 1024px) {
            margin-top: 10px;
            padding: 50px 0px 20px 9%;
            max-height: 200px;
        }
        h1 {
            font-size: 48px;
            font-weight: 500;
            display: inline-block;
            @media (max-width: 1024px) {
                font-size: 42px;
            }
        }
        h2 {
            width: 90%;
            padding-top: 1.8rem;
            font-size: 18px;
            font-weight: 400;
            color: $darkGray;
            @media (max-width: 1024px) {
                font-size: 17px;
                padding-top: 30px;
            }
        }
        &-name {
            color: $red;
            @media (max-width: 1024px) {
                font-size: 42px;
            }
        }
    }

    &-data {
        padding-left: 100px;
        grid-gap: 2% 2vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 22%);
        grid-template-rows: 320px 263px;
        @media (max-width: 1024px) {
            height: calc(100vh - 300px);
            grid-template-rows: 250px 200px;
            padding-left: 80px;
        }
        //835/320px
        &-dailyActivity {
            width: 100%;
            max-width: 835px;
            height: 95%;
            background-color: $lightBg;
            grid-column: 1/4;
            border-radius: 5px;
            justify-self: center;
            padding: 20px 0;
            justify-self: center;
        }
        &-charts {
            width: 100%;
            max-width: 835px;
            grid-column: 1/4;
            display: flex;
            height: 93%;
            justify-content: space-between;
            align-items: flex-end;
            grid-gap: 2%;
            justify-self: center;
            padding-bottom: 10px;
        }
        &-keyData {
            width: 100%;
            max-width: 258px;
            height: 95%;
            grid-column: 4/5;
            grid-row: 1/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            justify-self: start;
            //258/124
        }
    }
}
