@import './colors.scss';

.App-Dashboard {
    height: calc(100% - 91px);
    width: 100%;
    display: flex;

    flex-direction: row;
    @media (max-width: 1024px) {
        height: calc(100% - 71px);
    }
    &-LeftNav {
        background-color: $black;
        max-width: 117px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10% 20px;

        @media (max-width: 1024px) {
        }

        &-Icons {
            height: fit-content;
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            @media (max-width: 1024px) {
            }
            &-Box {
                cursor: pointer;
                width: 64px;
                height: 64px;
                margin: 6px 0;
                &:hover {
                    svg path {
                        fill: $black;
                    }
                }
                @media (max-width: 1024px) {
                    width: 60px;
                    height: 60px;
                    margin: 5px 0;
                }
            }
        }
        &-Text {
            height: 24px;
            width: 138px;
            color: $white;
            font-size: 12px;
            font-weight: 500;
            transform: translateX(-30px) rotate(-90deg);
            position: absolute;
            bottom: 10%;
            @media (max-width: 1024px) {
            }
        }
    }
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-greeting {
            margin-top: 10px;
            width: 100%;
            max-height: 230px;
            padding-left: 7%;
            padding-top: 50px;

            @media (max-width: 1024px) {
                max-height: 200px;
                padding-top: 40px;
                padding-left: 5%;
            }
            h1 {
                font-size: 48px;
                font-weight: 500;
                display: inline-block;
                @media (max-width: 1024px) {
                    font-size: 42px;
                }
            }
            h2 {
                width: 90%;
                padding-top: 1.8rem;
                font-size: 18px;
                font-weight: 400;
                color: $darkGray;
                @media (max-width: 1024px) {
                    font-size: 17px;
                    padding-top: 30px;
                }
            }
            &-name {
                color: $red;
                @media (max-width: 1024px) {
                    font-size: 42px;
                }
            }
        }
        &-data {
            height: 60vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 7%;
            @media (max-width: 1024px) {
                padding: 0 5%;
            }
            //835/320px
            &-recharts {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                margin-right: 2%;
                &-dailyActivity {
                    //max-width: 835px;
                    // min-width: 500px;
                    width: 100%;
                    height: 60%;
                    background-color: $lightBg;
                    border-radius: 5px;
                    justify-self: center;
                    padding: 20px 0;
                    margin-right: 10px;
                    justify-self: center;
                }
                &-charts {

                    width: 100%;
                    min-width: 500px;
                    display: flex;
                    height: 40%;
                    justify-content: space-between;
                    align-items: flex-end;
                    justify-self: center;
                    padding: 0px;
                    margin-top: 2%;
                }
            }
            &-keyData {
                width: 20%;
                height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                justify-self: start;
                //258/124
            }
        }
    }
}
