html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
