@import './colors';

.App-Dashboard-container-data-keyData-box {
    width: 100%;
    min-width: 100px;
    height: 12vh;
    background-color: $white;
    border-radius: 5px;
    background-color: $lightBg;
    display: flex;
justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
        padding: 25px;
    }
    &-icon {
        width: 60px;
        height: 60px;
        border-radius: 6px;
    }
    &-data {
        padding-left: 20px;
        @media (max-width: 1024px) {
            padding-left: 12px;
        }
        &-nb {
            padding-bottom: 3px;
            color: $black;
        }
        &-type {
            padding-top: 3px;
            color: $gray;
        }
    }
}
