@import './colors';

.App-Dashboard-data-keyData-box {
    width: 100%;
    max-width: 258px;
    height: 124px;
    background-color: $white;
    border-radius: 5px;
    background-color: $lightBg;
    display: flex;
    padding-left: 20px;
    align-items: center;
    @media (max-width: 1024px) {
        height: 104px;
    }
    &-icon {
        width: 60px;
        height: 60px;
        border-radius: 6px;
    }
    &-data {
        padding-left: 15px;
        &-nb {
            padding-bottom: 3px;
            color: $black;
        }
        &-type {
            padding-top: 3px;
            color: $gray;
        }
    }
}
