@import './colors.scss';
.App-Nav {
    background-color: $black;
    width: 100%;
    height: 100vh;
    position: relative;

    &-TopNav {
        width: 100%;
        display: flex;
        height: 91px;

        &-Logo {
            width: 225px;
            display: flex;
            justify-content: space-around;
            &-container {
                width: 50px;
                height: 50px;
                padding: 20px 0 0 20px;
                svg {
                    path.body {
                        color: $black;
                    }
                }
            }
            &-text {
                padding-top: 33px;
                padding-left: 6px;
                color: $red;
            }
        }
        &-links {
            width: calc(100% - 220px);
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
            a {
                color: $white;
                font-size: 24px;
                font-weight: 500;
                text-decoration: none;
                @media (max-width: 1024px) {
                    font-size: 22px;
                }
            }
            a:hover {
                color: $red;
            }
        }
    }
    &-LeftNav {
        width: 117px;
        height: calc(100vh - 91px);
        display: flex;
        flex-direction: column;
        padding: 0 26px;

        @media (max-width: 1024px) {
            width: 100px;
            padding: 0 20px;
        }

        &-Icons {
            height: 400px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            transform: translateY(100px);
            @media (max-width: 1024px) {
                height: 300px;
                transform: translateY(80px);
            }
            &-Box {
                cursor: pointer;
                width: 64px;
                height: 64px;
                margin: 10px 0;
                &:hover {
                    svg path {
                        fill: $black;
                    }
                }
                @media (max-width: 1024px) {
                    width: 60px;
                    height: 60px;
                    margin: 8px 0;
                }
            }
        }
        &-Text {
            height: 24px;
            width: 138px;
            color: $white;
            font-size: 12px;
            font-weight: 500;
            transform: translateX(-30px) rotate(-90deg);
            position: absolute;
            bottom: 100px;
            @media (max-width: 1024px) {
            }
        }
    }
    &-White-Box {
        box-shadow: inset 0px 8px 6px -6px rgb(0, 0, 0);
        background-color: $white;
        position: absolute;
        right: 0;
        left: 117px;
        top: 91px;
        bottom: 0;
        @media (max-width: 1024px) {
            left: 100px;
            right: -1px;
        }
    }
}
