@import './colors.scss';
.App-Dashboard-container-data-recharts-charts-performance {
    position: relative;
    font-size: 1.2em;
    @media (max-width: 1024px) {
        font-size: 0.8em;
    }
    &-error {
        color: $white;
        font-weight: 700;
        font-size: 2em;
        text-align: center;
    }
}
