@import './colors.scss';

.App-Dashboard-container-data-recharts-charts-average {
    position: relative;
    margin-right: 2%;
    &-title {
        position: absolute;
        z-index: 2;
    }
    .recharts-rectangle {
        position: absolute;
        z-index: -4;
    }
    &-error {
        color: $white;
        font-weight: 700;
        font-size: 2em;
    }
}
